
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

header{
    height: 150px;
    background-color: #ffffff;
    display: flex;
}

.logo-section{
    width: 75%;
}
.happy-worker-section{
    width: 25%;
}

.niewidzialny{
    display: none;
}

.logo-image{
    height: 150px;
    margin-left: 25px;
}

ul{
    list-style-type: none;
    display: flex;
    font-size: 20px;
    /* margin: 0;
    padding: 0;
    overflow: hidden;*/
    background-color: #4646CC;
    height: 60px;
} 

li {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
    border-left:1px solid white;
    text-align: center;
    line-height: 60px;
    
}

a{
    color: white;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-section{
    width: 70%;
    height: auto;
    /* background-color: aquamarine;    */
}

.main-section h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-section img{
    width: 40%;
    height: auto;
    margin-bottom: 20px;
}

footer{
    height: auto;
    text-align: right;
}


/* #4646CC */