*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

header{
    height: 150px;
    background-color: #ffffff;
    display: flex;
}

.logo-section{
    width: 75%;
}
.happy-worker-section{
    width: 25%;
}

/* .happy-worker-section p{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
} */

.niewidzialny{
    display: none;
}

.logo-image{
    height: 150px;
    margin-left: 25px;
}

ul{
    list-style-type: none;
    display: flex;
    font-size: 20px;
    /* margin: 0;
    padding: 0;
    overflow: hidden;*/
    background-color: #4646CC;
    height: 60px;
} 

li {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
    border-left:1px solid white;
    text-align: center;
    line-height: 60px;
    
}

a{
    color: white;
    text-decoration: none;
}

main{
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    width: 70%;
    height: auto;
    margin: auto;
}

.main-section{
    /* width: 70%;
    height: auto;
    margin: auto; */
    /* background-color: aquamarine;    */
}

.main-section h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-section img{
    width: 40%;
    height: auto;
    margin-bottom: 20px;
}

.button-section{
    /* margin: auto; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-section button{
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    border: 2px solid #4646CC;
    border-radius: 5px;
}

.button-section button:hover{
    background-color: #4646CC;
    color: white;
}

table{
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
}
th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

footer{
    height: auto;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    background-color: #4646CC;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
}


/* #4646CC */