*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.karuzela{
    margin-top: 30px;
    margin-bottom: 30px;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides{
    display: none;
}

.mySlides img{
    /* vertical-align: middle; */
    display: block;
    width: 80%;
    margin: auto;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    left: auto;
    right: 5%;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 5%;
    right: auto;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: #bbb;
}

.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-right: 4px;
    margin-top: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

